%form.form-horizontal{ action: action, method: :post }
  = token_tag
  .col-xs-12
    .form-group
      %label{ for: 'password' } Password
      %input.form-control#password{ type: 'password', name: 'password' }

    = render 'estimote_fields'
    = render 'kontakt_fields'
    = render 'imgur_fields'

    .form-group.text-right
      %button.btn.btn-primary{ type: 'submit' } Save

:coffee
  $ ->
    $checkboxes = $('input[type=checkbox]')

    $checkboxes.bootstrapSwitch()
    $checkboxes.each (i, e) ->
      $(e).data('bootstrapSwitch').state($(e).val() == 'true')
    $checkboxes.on 'switchChange.bootstrapSwitch', (e, state) ->
      destination = $(e.target).data('destination')
      $('input[name=' + destination + ']').val(state)
      $('#' + destination).slideToggle()