%form.form-horizontal{ action: action, method: :post }
  = token_tag
  .col-xs-12
    .form-group
      %label{ for: 'password' } Password
      %input.form-control#password{ type: 'password', name: 'password' }
    - Settings.application_keys.each do |field|
      .form-group
        %label{ for: field }= field.humanize
        %input.form-control{ id: field, type: 'text', name: field, value: Settings[field] }
    .form-group.text-right
      %button.btn.btn-primary{ type: 'submit' } Save