- enabled = Settings.service_enabled?(:imgur)

.form-group
  %label{ for: 'imgur_integration' } imgur
  .pull-right
    %input{ type: 'checkbox', name: '', value: enabled.to_s, 'data-size' => 'mini', 'data-destination' => 'imgur_integration' }
    %input{ type: 'hidden', name: 'imgur_integration', value: enabled.to_s }

#imgur_integration{ class: ('unpresent' unless enabled) }

  .form-group.form-group-padded
    %label{ for: 'imgur_client_id' } Client ID
    %input.form-control#imgur_client_id{ type: 'text', name: 'imgur_client_id', value: Settings['imgur_client_id'] }