.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-body
        %h3
          Setup your application.
        %p
          You can always manage your keys in 'Settings' page.

        = render 'form', action: settings_path