// Twitter Bootstrap with Bootswatch Paper style
@import "bootstrap-sprockets";
@import "bootswatch/paper/variables";
@import "bootstrap";
@import "bootswatch/paper/bootswatch";
@import "bootstrap-switch.min";

#beacon_payload {
  .nav-tabs {
    margin-bottom: $padding-large-vertical;
  }
}

.list-group-item-menu {
  position: absolute;
  top: 10px;
  right: 10px;

  > .btn-link {
    padding-left: $padding-small-horizontal;
    padding-right: $padding-small-horizontal;
  }
}

.list-group-beacons {
  .list-group-item {
    padding-left: 80px;
    padding-right: 50px;
    min-height: 50px;

    > img {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}

img.avatar {
  width: 60px;
  height: 60px;
}

.pagination {
  margin: 0;
}

.event-tab-content {
  min-height: 173px;
}

.bootstrap-switch {
  border-radius: 0;
  &.bootstrap-switch-focused {
    border-color: #ccc;
    box-shadow: none;
  }
  &:focus {
    outline: 0;
  }

  .bootstrap-switch-handle-on,
  .bootstrap-switch-label,
  .bootstrap-switch-handle-off {
    border-radius: 0;

    &:focus {
      outline: 0;
    }
  }

  .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: $btn-primary-bg;
  }
}

.unpresent {
  display: none;
}

.dl-horizontal dt {
  text-align: left;
}

.form-horizontal {
  .form-group.form-group-padded {
    margin-left: 0;
    margin-right: 0;
  }
}